<ol reversed class="postlist o-list-bare" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} o-list-bare__item">
    <a href="{{ post.url | url }}" class="postlist-link">
      {% if post.data.title %}<h2>{{ post.data.title }}</h2>{% else %}<code>{{ post.url }}</code>{% endif %}
    </a>

    <div class="post-date">
      <span>Posted on:</span>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </div>

    <p>{{ post.data.description }}<p>

    <div class="post-tags">
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="tag tag--{{ tag }}">{{ tag }}</a>
    {% endfor %}
    </div>
    <hr>
  </li>
{% endfor %}
</ol>
